{% extends "layout/_base.html" %}

{% block title %}{{article.title}}{% endblock %}

{% block head %}

{% endblock %}

{% block main %}

<div class="container">
    <article>
        <header class="article-header">
            <h1>
                <span class="title">
                    {{article.title}}
                </span>
                <br/>
                <small class="subtitle">
                    {{article.subtitle}}
                </small>
            </h1>
        </header>

        <section class="article-content">
            {% block article %} {% endblock %}
        </section>
    </article>
</div>

{% endblock %}
